body{
    font-family: Helvetica,Arial, sans-serif;
    display: flex;
    justify-content: center;
}
.container{
  
    border-radius: 20px;
    width: 350px;
    max-width: 900px;
    background-color: black;
    text-align: center;
    padding: 25px;
}
.display{
    width: 340px;
    height: 60px;
    font-size: 30px;
    background-color: lightgray;
    color: black;
    outline: none;
    border-radius: 5px;
   
}
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.buttons{
    
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
  
}
.btns{
    width: 80px;
    height: 80px;
    font-size: 30px;
    margin-left: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: none;
    border-radius: 40px;
    background-color: #313131;
    color: white;
    outline: none;
}
.btnssign{
    width: 80px;
    height: 80px;
    font-size: 30px;
    margin-left: 6px;
    margin-top: 4px;
    border: none;
    margin-bottom: 4px;
    border-radius: 40px;
    background-color: #f69906;
    color: white;
    outline: none;
}
.btns:active{
    background-color: lightgray;
}
.btnssign:active{
    background-color: lightgray;
}